<?xml version="1.0"?>
<robot name="mbot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find my_robot_gazebo)/urdf/inertia_matrix.xacro" />
  <xacro:include filename="$(find my_robot_gazebo)/urdf/robot_base_gazebo.xacro" />
  <xacro:include filename="$(find my_robot_gazebo)/urdf/camere.xacro" />
  <xacro:include filename="$(find my_robot_gazebo)/urdf/lidar.xacro" />
  <xacro:include filename="joint_transmission.xacro" />
  <xacro:include filename="robot_controller.xacro" />
</robot>